.app {
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MessaheList */

.messages-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 20px var(--padding-horizontal--);
}

.message-list-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem;
}

/* Message */

.message-container {
  display: flex;
  justify-content: flex-end;
}

.message-container.user {
  flex-direction: row;
}

.message-container.bot {
  flex-direction: row-reverse;
}

.message-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  max-width: 90%;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.message-bubble.user {
  background-color: var(--color-user--);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.3rem 0.5rem;
  /* border: 1px solid var(--color-border--); */
}

.message-bubble.bot {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.3rem 0;
  /* border: 1px solid var(--color-border--); */
}

.message-text.user {
  color: rgb(0, 0, 0);
}

.message-text.bot {
  color: black;
}

/* MessageInput */

.message-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 14px var(--padding-horizontal--);
}

.message-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border--);
  border-radius: 100rem;
  overflow: hidden;
  background-color: white;
}

.styled-input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  padding: 0 0 0 1rem;
  text-align: start;
  background-color: transparent;
}

.styled-input:focus {
  outline: none;
}

.input-send-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.enabled-send-icon {
  color: var(--enabled-button--);
  cursor: pointer;
}

.disabled-send-icon {
  color: var(--disabled-button--);
  cursor: default;
}
